<h4 class="column">Featured Bikes</h4>
<div class="column">
    <ul class="movies-grid no-bullet row">
        <% @bikes.each do |bike| %>
            <li class="large-3 medium-4 small-12 column">
                <div class="movie-card padly">
                    <div class="movie-info ell glassy-bg padmy padlx">
                        <div class="title">
                            <h6><%= bike.brand %> <span> <%= bike.model %> </span></h6>
                        </div>
                    </div>
                </div>
            </li>
            <% end %>
    </ul>
</div>