<p><%= @email %> has registered to join your site!</p>

<p>1:Log in to the Website with the Admin Account</p>
<p>2:Go to /users and you will find a list of all the users</p>
<p>3:Approve or deny the new user account</p>