/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.navbar-nav{
    margin-left: 33%;
}

.black-text{
    color: black;
}

.nav-link:hover, .navbar-brand:hover{
    background-color: white;
    text-shadow: 1px 1px 1px black;
}

#rowFeature {
    background-color: #f9f9f7;
}

#captionFeature {
    width: 85%;
    height: auto;
    border: 1px solid #C59E47;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: auto;
    margin-left: auto;
}

.caption {
    margin-top: 30%;
}

#imageFeature {
    border: none;
    min-height: 400px;
}

#buttonDetailsFeature {
    border: 1px solid #020243;
    background: none;
    color: #020243;
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 5px;
    width: 68%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#buttonDetailsFeature:hover{
	background: #020243;
	color: white;
}



}