.navbar-nav{
    margin-left: 33%;
}
.black-text{
    color: black;
}

.nav-link:hover, .navbar-brand:hover{
    background-color: white;
    text-shadow: 1px 1px 1px black;
}

#rowFeature {
    background-color: #08090c;
}

#captionFeature {
    width: 85%;
    height: auto;
    border: 1px solid #3f2a14;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: auto;
    margin-left: auto;
}

.caption {
    margin-top: 30%;
}

#imageFeature {
    border: none;
    min-height: 400px;
}

#buttonDetailsFeature {
    border: 1px solid #14293f;
    background: none;
    color: #14293f;
    cursor: pointer;
    font-size: 19px;
    letter-spacing: 5px;
    width: 68%;
    padding-top: 15px;
    padding-bottom: 15px;
}

#buttonDetailsFeature:hover{
	background: #14293f;
	color: white;
}

.leftside>h1{
    top:20%;
    left: 13.2%;
    position: absolute;
    font-size: 27px;
    letter-spacing: 8px;
    z-index: 100;
    margin: 0px;
}
.leftside>p{
    line-height: 1.6;
    position: absolute;
    top:30.5%;
    left: 13.2%;
    font-size: 20px;
    z-index: 100;
    width: 35%;
}
